@page
@model portfolio.Pages.aboutModel
@{
    ViewData["Title"] = "About me";
}

<div class="row d-flex flex-row">
    <div class="col-6 center-block about-text">
        <div class="text-center">
            <h1 class="white-text">over mij:</h1>
            <p class="white-text h5">
                Mijn naam is Rodi Janssen, <br />
                Ik ben een 18-jarige softwareontwikkelaar uit het dorp <a href="https://www.google.nl/maps/place/Venhorst/" target=”_blank”>Venhorst</a>.<br />
                Momenteel volg ik de MBO-opleiding Softwaredeveloper in Cuijk.<br />
                via school heb ik stage gelopen by verhoeven-leenders waar ik na school ook heb gewerkt.<br />
                Ook ben ik van plan om verder te gaan studeren by fontys hogeschool eindhoven.<br />
            </p>

            <br />
            <h1 class="white-text">Programmeren:</h1>
            <p class="white-text h5">
                Door mijn opleiding en werkervaring heb ik ervaring opgedaan met verschillende <br />
                programmeertalen, zoals HTML, python, C#, CSS, JavaScript, PHP, en MySQL/ SQL. <br />
                Ik houd van van nieuwe uitdagingen, omdat ik dan weer iets nieuws heb geleerd.
            </p>

            <br />
            <h1 class="white-text">CV:</h1>
            <p class="h5">Download: <a href="~/CV-Rodi-Janssen.pdf" download>CV</a></p>
        </div>
    </div>
    <div class="col-4 justify-content-center about-img">
        <img src="~/CV-Rodi-Janssen.jpg" class="CV-img"/>
    </div>
</div>