@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

}
@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<div class="main">
    <div class="infoContainer">
        <div class="devInfo">
            <div class="hello slideLeft">Hallo ik ben</div>
            <div class="name slideLeft"><p id="namechange" data-value="Rodi Janssen">Rodi Janssen</p></div>
            <div class="about slideLeft">Junior Programeur</div>
        </div>
    </div>
</div>